<template>
  <div class="question-view-div">  
    <Loader v-if="isLoading"/>
    <Error v-else-if="getError" :message="getError" :buttonToHome="true" />
    <Question v-else-if="parseInt($route.params.index) <= getNumberOfQuestion && parseInt($route.params.index) > 0"  :questionIndex="parseInt($route.params.index)"/>
  </div>
</template>

<script>
import Question from '../components/Question.vue'
import Loader from '../components/Loader.vue'
import Error from '../components/Error.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'QuestionView',
  components: {
    Question,
    Loader,
    Error
  },
  computed: {
    ...mapGetters([
      'getNumberOfQuestion',
      'isLoading',
      'getError'
    ]),
  },
  created() {
    // redirects to home if no quiz started.
    if (this.getNumberOfQuestion === 0 && !this.isLoading) {
      this.$router.push(`/`)
    }
  }
}
</script>

<style scoped>
  .question-view-div {
    width: 70%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .question-view-div div {
    display: flex;
    flex-direction: column;
  }

  .question-view-div h1 {
    margin-bottom: 1em;
  }
</style>
