<template>
  <div>
    <h1>Result: {{getResult.score}} / {{getResult.maxScore}}p</h1>

    <QuestionResult v-for="question in getResult.questions" :key="question.question" :questionResult="question"/>

    <div class="button-div">
      <button @click="handleNewGame">New Quiz</button>
      <button @click="handleRestart">Restart Quiz</button>
    </div> 
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import QuestionResult from '../components/QuestionResult.vue'

  export default {
    name: 'ResultView',
    components: {
      QuestionResult
    },
    computed: {
      ...mapGetters([
        'getResult',
        'getNumberOfQuestion',
        'isLoading'
      ]),
    },
    methods: { 
      ...mapActions([
        'fetchNewQuestions'
      ]),
      // fetches new questions with same settings and sets the route to /question/1.
      handleRestart() {
        this.fetchNewQuestions();
        this.$router.push(`/question/1`)
      },
      // redirects to home.
      handleNewGame() {
        this.$router.push(`/`)
      }
    },
    created() {
      // redirects to home if no quiz started.
      if (this.getNumberOfQuestion === 0 && !this.isLoading) {
        this.$router.push(`/`)
      }
    }
  }
</script>

<style scoped>
  .button-div {
    margin: 3em;
    display: flex;
    justify-content: space-around;
  }

  button {
    width: fit-content;
    align-self: center;
  }
</style> 