<template>
  <div class="start-div">
    <h1>Choose quiz settings</h1>
    <form @submit.prevent @submit="handleOnSubmitStart">

      <label>Difficulty:</label> 
      <div class="select">
        <select name="difficulty" :value="(getQuizSettings.difficulty) ? getQuizSettings.difficulty : ''">
          <option value="">Any Difficulty</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
      </div>

      <label>Number of Questions:</label> 
      <input name="numberOfQuestions" required min="1" max="50" :value="(getQuizSettings.numberOfQuestions) ? getQuizSettings.numberOfQuestions : 10" type="Number"/>

      <label>Select Category:</label> 
      <div class="select">
        <p v-if="loading">loading...</p>
        <select v-else name="category" :value="(getQuizSettings.category) ? getQuizSettings.category.toString() : ''">
          <option value="">Any Category</option>
          <option v-for="category in categories" :key="category.id" v-bind:value="category.id">{{category.name}}</option>
        </select>
      </div>
      <Error v-if="error" :message="error"/>

      <input type="submit" value="Start">
    </form>
  </div>
</template>

<script>
  //import { categories } from '../utils/mockdata/categories.js'
  import { getCategories } from '../utils/api.js'
  import { mapActions, mapGetters } from 'vuex'
  import Error from '../components/Error.vue'

  export default {
    name: 'StartView',
    data() {
      return {
        categories: [],
        loading: true,
        error: ""
      }
    },
    components: {
      Error
    },    
    computed: {
      ...mapGetters([
        'getQuizSettings',
      ])
    },
    methods: {
      ...mapActions([
        'fetchMockQuestions',
        'fetchQuestions'
      ]),
      // Gets the selected quiz settings and starts the quize.
      handleOnSubmitStart(e) {
        const numberOfQuestions = e.target.numberOfQuestions.value;
        const difficulty = e.target.difficulty.value;
        const category = e.target.category.value;
        //this.fetchMockQuestions();
        this.fetchQuestions({ numberOfQuestions, difficulty, category });
        this.$router.push(`/question/1`);
      }, 
      // fetches the question ctegories.
      async fetchCategories() {
        this.loading = true;
        this.categories = await getCategories().catch(err => this.error = `Error fetching categories: ${err.message}.`); 
        this.loading = false;
        //this.categories = categories;
      }
    },
    created() {
      this.fetchCategories();
    }
  }
</script>

<style scoped>

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .start-div {
    width: 70%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .start-div h1 {
    margin-bottom: 1em;
  }
  
  input[type=submit] {
    margin-top: 2em;
  }

  input[type=number] {
    padding: 0 .75em;
    height: 3em;
    border-radius: .4em;
    width: calc(100% - 1.5em);
    border: #777 1px solid;
    box-shadow: 2px 2px 5px #333;
  }

  input[type=number]:invalid {
    border-color: #FA8978;
    box-shadow: 2px 2px 5px #FA8978;
  }

  label {
    margin-top: 1em;
    margin-bottom: 0.25em;
    font-weight: bold;
  }

  .select p {
    padding: 0 .75em;
    height: 2.5em;
    font-size: 0.9em;
  }

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: transparent;
    background-image: none;
    flex: 1;
    padding: 0 .75em;
    color: #000;
    cursor: pointer;
  }

  select:focus {
    border: #000 1px solid;
  }

  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.5em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .4em;
    border: #777 1px solid;
    overflow: hidden;
    box-shadow: 2px 2px 5px #333;
  }

  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: -0.2em;
    right: 0;
    padding: 0 0.75em;
    background: transparent;
    color: #777;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #000;
  }
</style>
