<template>
  <div class="error">
    <p>{{message}}</p>
    <button @click="handleReturnToHome" v-if="buttonToHome">Return to start screen</button>
  </div>
</template>

<script>
  export default {
    name: "Error",
    props: {
      message: {
        type: String,
        required: true
      },
      buttonToHome: Boolean
    },
    methods: { 
      handleReturnToHome() {
        this.$router.push(`/`)
      }
    }
  }
</script>

<style>
    
  .error {
    margin-top: 1em;
    color: #FA8978;
    font-weight: bold;
    background: #FFF;
    padding: 0.5em 1em;
    border-radius: .4em;
    border: 2px solid #FA8978;
  }

  .error button {
    background: none;
    text-decoration: underline;
    box-shadow: none;
    color: #FA8978;
    width: 100%;
  }

</style>