<template>
  <div class="question-div">

    <!-- Question result header -->
    <h1>{{(questionResult.selectedAnswer===questionResult.correct_answer) ? "Correct 10p" : "Wrong 0p"}} </h1>
    <h2 >{{questionResult.question}}</h2>
    <p>{{questionResult.category}} - {{questionResult.difficulty}}</p>

    <!-- Question result answers -->
    <div class="answers-div">
      <h4 v-for="answer in questionResult.answers" :key="answer"
              v-bind:class="{'is-correct': (answer===questionResult.correct_answer), 'is-wrong': (questionResult.selectedAnswer===answer && answer!==questionResult.correct_answer)}">
        {{answer}}
      </h4>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    questionResult: Object
  },
}
</script>

<style>
  h4 {
    font-size: 1.5em;
    padding: 0.25em 1.25em;
    border-radius: 1.5em;
    background: #FFCC96;
    box-shadow: 2px 2px 5px #333;
    margin: 10px;
    text-align: center;
    font-weight: 500;
  }

  .is-correct {
    background: #819751;
    box-shadow: 0px 0px 0px;
  }

  .is-wrong {
    background: #FA8978;
    box-shadow: 0px 0px 0px;
  }

  .answers-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .question-div {
    margin-top: 3em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .question-div h1 {
    margin-bottom: 0.5em;
     color: #2F4858;
     width: 100%;
  }

  .question-div h2 {
    margin-bottom: 0.7em;
    color: #2F4858;
    width: 100%;
  }

  .question-div p {
    margin-bottom: 3em;
    width: 100%;
  }

  .answers-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
</style>