<template>
  <div class="question-div">

    <!-- Question header -->
    <h1>Question {{questionIndex}} / {{getNumberOfQuestion}}</h1>
    <h2>{{question.question}}</h2>
    <p>{{question.category}} - {{question.difficulty}}</p>

    <!-- Question answers -->
    <div class="answers-div">
      <button v-for="answer in question.answers" 
              :key="answer" @click="handleSelectAnswer(answer)" 
              v-bind:class="{'is-selected': selectedAnswer==answer}">
        {{answer}}
      </button>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Question',
  props: {
    questionIndex: Number
  },
  computed: {
    ...mapGetters([
      'getQuestion',
      'getAnswer',
      'getNumberOfQuestion',
    ]),
    // Gets the qustion at index this.questionIndex.
    question () {
      return this.getQuestion(this.questionIndex)
    }, 
    selectedAnswer () {
      // Gets selected awnser for qustion at index this.questionIndex.
      return this.getAnswer(this.questionIndex)
    },
  },
  methods: { 
    ...mapActions([
      'selectAnswers'
    ]),
    // handles selection of answer by sending it to vuex stor and changese route to next question or result.
    handleSelectAnswer(answer) {
      this.selectAnswers({answer, index: this.questionIndex})
      const nextQuestionInde = this.questionIndex+1;
      if (nextQuestionInde > this.getNumberOfQuestion) {
        this.$router.push(`/result`);
        return;
      }
      this.$router.push(`/question/${nextQuestionInde}`)
    }
  }, 
}
</script>

<style scoped>
  .is-selected {
    background: #448085;
    box-shadow: 0px 0px 0px;
  }

  .answers-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .question-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }

  .question-div h1 {
    margin-bottom: 0.5em;
     color: #2F4858;
     width: 100%;
  }

  .question-div h2 {
    margin-bottom: 0.7em;
    color: #2F4858;
    width: 100%;
  }

  .question-div p {
    margin-bottom: 3em;
    width: 100%;
  }

  .answers-div {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .question-div-out {
    transform: translateY(-80%);
    opacity: 0;
  } 
</style>