<template>
  <div id="app">
    <transition mode="out-in" name="slide">
      <router-view :key="$route.path"/>
    </transition>  
  </div>
</template>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5em;
    padding-bottom: 5%;
    color: #2c3e50;
    min-height: calc(95% - 20em);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
  }

body {
  height: 100vh;
  widows: 100vw;
  background-attachment: fixed;
  background-image: linear-gradient(to right bottom, #79abd1, #5dbace, #60c5bb, #85cc9e, #b7cd84);
}

  button, input[type=submit] {
    font-size: 1.5em;
    padding: 0.25em 1.25em;
    border-radius: 1.5em;
    background: #FFCC96;
    transition: all 100ms;
    box-shadow: 2px 2px 5px #333;
    margin: 10px;
    border: none;
    cursor: pointer;
  }

  
  button:hover, input[type=submit]:hover {
    box-shadow: 0px 0px 0px;
  }

  .slide-enter-active {
    animation: 200ms popin;
  }

  .slide-leave-active {
    animation: 200ms popout;
  }

  @keyframes popout { 
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  @keyframes popin { 
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    90% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
</style>
